@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  background-color: #e9eeed;
  font-family: "Hind Siliguri", Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

#main_container {
  width: 70%;
  margin-inline: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 3% 5%;
  background-color: #b7c4cf;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

#input_container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  margin-bottom: 3vh;
}

#input_container > div {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#name_input,
#number_input,
#number_input-regenerate,
#add-participant_button,
#generate_button,
#regenerate-teams_button {
  border: none;
  min-height: 3vh;
  border-radius: 10px;
  padding: 0% 5%;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  font-family: inherit;
}

#name_input,
#number_input,
#number_input-regenerate {
  padding-left: 20px;
  padding-right: 20px;
}

#name_input::placeholder,
#number_input::placeholder,
#number_input-regenerate::placeholder {
  color: #4c5e70;
  font-weight: 700;
}

#name_input.red-placeholder_class::placeholder,
#number_input.red-placeholder_class::placeholder {
  color: rgb(179, 35, 35);
}

#add-participant_button,
#generate_button,
#regenerate-teams_button {
  background-color: #7895b2;
  cursor: pointer;
  transition: background-color 300ms, color 300ms;
}

#add-participant_button:hover,
#generate_button:hover,
#regenerate-teams_button:hover {
  background-color: #4c5e70;
  color: #dbf0ec;
}

#input_container > div > svg {
  transition: fill 500ms;
}

#input_container > div > svg:hover {
  fill: #4c5e70;
  cursor: pointer;
}

#info-about-page {
  position: absolute;
  display: flex;
  opacity: 0%;
  visibility: hidden;
  top: 4.5vh;
  left: 82vh;
  min-width: 20%;
  min-height: 25%;
  border-radius: 20px;
  background-color: #4c5e70;
  color: #dbf0ec;
  user-select: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0% 2%;
  transition: visibility 500ms, opacity 1000ms;
}

#info-about-page.visible {
  opacity: 100%;
  visibility: visible;
}

.info-about-page h3,
.info-about-page ul,
.info-about-page li,
.info-about-page p {
  margin: 0;
}

#list_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 3vh;
}

.lists {
  min-width: 29%;
  min-height: 40vh;
  padding: 1% 3%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  background-color: #7895b2;
}

.lists h3 {
  text-align: center;
  user-select: none;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 3%;
  margin-bottom: 3%;
}

#unassigned-participants_list,
.teams {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 0.75vh;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

#unassigned-participants_list > div,
.teams > div {
  min-width: 30%;
  border-radius: 10px;
  padding: 2% 0;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  transition: background-color 500ms, box-shadow 500ms;
}

#unassigned-participants_list > div {
  background-color: #bce29e;
  user-select: none;
}

.teams > div {
  background-color: #e5ebb2c4;
}

#unassigned-participants_list > div:hover,
.teams > div:hover {
  background-color: #ff8787;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  text-decoration: line-through;
}

#main_container > hr,
.lists > hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
